// @import '../all.scss';

// Media Queries padrões, ou seja, cabeçalho

@media screen and (max-width: 840px) {

  * {
    transition: 1s;
  }

  div.header-back {
    background-image: url(../../images/head/background.jpg);
  
  }

  header {

    .header-content {
      height: auto;
      padding: 0;
    }

    .flex-header-distribuition {
      flex-direction: column;

      .logo-and-mark {
        flex-direction: column;

        >a {
          width: 20%;
          height: 76px;
          margin: auto;
        }

        img {
          left: 50%;
          transform: translateX(-50%);
        }

        h1 {
          width: 100%;
          margin: 0;
          justify-content: center;
        }

      }

      .header-navegation {
        margin: 20px 0;

        ul {
          justify-content: center;

        }
      }

    }

  }

}

@media screen and (max-width: 480px) {

  * {
    transition: 1s;
  }

  header {

    div.padding-content {
      padding: 0;
    }

    nav.header-navegation {

      ul {
        flex-direction: column;
        gap: 8px;
        
        li {
          width: 100%;
          background-color: #8F4C2B;
          padding: 5px;

          a {
            display: flex;
            justify-content : center;

            width: 100%;
            height: 100%;
            color: #FFF3E1;

            font-weight: bold;

          }

        }


      }

    }

  }

  main.padding-content {
    padding: 0;

  }

}