@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Fundo da página para telas grandes */
body.background-big-screen {
  background-color: #A18273;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Max width como "papel" na página */
div.max-width {
  position: relative;
  width: 1400px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  background-color: #FFF3E1;
}

/* Background do header */
div.header-back {
  width: 100%;
  height: 93px;
  background-image: url(../images/head/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
}

div.header-back::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 44px;
  bottom: 0;
  background: linear-gradient(180deg, rgba(66, 22, 0, 0) 14.58%, #421600 84.37%);
  z-index: 1;
}

/* Cabeçalho, navegação, logo e linha horizontal  */
header {
  width: 100%;
  height: auto;
}
header .header-content {
  width: 100%;
  height: 76px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
header div.padding-content {
  max-width: 1280px;
  padding: 0px 40px;
}
header .flex-header-distribuition {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .logo-and-mark {
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}
header .logo-and-mark img {
  position: relative;
  bottom: 70px;
}
header .logo-and-mark h1 {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 27px;
}
header .logo-and-mark a {
  font-family: "Courgette", cursive;
  font-size: 36px;
  text-decoration: none;
  color: #421600;
  transition: color 0.5s ease-in-out;
}
header .logo-and-mark a:hover {
  color: #C2673A;
}

nav.header-navegation {
  height: 100%;
}
nav.header-navegation ul {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 70px;
}
nav.header-navegation ul li {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav.header-navegation ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #C2673A;
  transition: color 0.5s ease-in-out;
}
nav.header-navegation ul li a:hover {
  transition: 0.5s;
  color: #421600;
}

hr {
  height: 5px;
  background-color: #421600;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.35);
  border: 0;
  outline: 0;
}

/* Corpo padrão da página */
main.padding-content {
  max-width: 1280px;
  padding: 0px 40px;
  margin: 55px auto;
  margin-bottom: 200px;
}

div.max-width img.svg-paper-decoration {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

div.header-back {
  background-image: url(../../images/head/background.jpg);
}

main div.procurar-produtos {
  width: 600px;
  height: 45px;
  border: 2px solid #C2673A;
  margin: 80px auto;
  padding: 10px 20px;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
}
main div.procurar-produtos img {
  flex: auto;
  height: 100%;
  margin-right: 20px;
}
main div.procurar-produtos input[type=text] {
  flex: 100%;
  border: 0;
  background-color: transparent;
  color: #C2673A;
}
main div.procurar-produtos input[type=text]::placeholder {
  font-family: "Poppins", sans-serif;
  color: #C2673A;
}
main div.procurar-produtos input[type=text]:focus {
  outline: 0;
}
main div.ajust-sections {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main div.ajust-sections > section {
  width: 100%;
  min-height: 327px;
}
main div.ajust-sections > section h2 {
  font-family: "Courgette", cursive;
  font-size: 28px;
  color: #421600;
  margin-bottom: 17px;
}
main div.ajust-sections > section .overflow-container {
  width: 100%;
  height: 100%;
  background-color: #FFE8C7;
  padding: 50px 85px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
main div.ajust-sections > section .overflow-container div.card-container {
  width: 170px;
  height: 230px;
  position: relative;
  transition: width ease-in-out 1s;
}
main div.ajust-sections > section .overflow-container div.card-container div.front-card,
main div.ajust-sections > section .overflow-container div.card-container div.back-card {
  position: absolute;
  top: 0;
}
main div.ajust-sections > section .overflow-container div.card-container div.front-card {
  width: 170px;
  height: 230px;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 9px;
  position: relative;
  transition: box-shadow ease-in-out 1s;
}
main div.ajust-sections > section .overflow-container div.card-container div.front-card div.price-card {
  position: absolute;
  bottom: 0;
  height: 40px;
  background-color: #C2673A;
  width: 100%;
  border-radius: 0px 0px 9px 9px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px;
}
main div.ajust-sections > section .overflow-container div.card-container div.front-card div.price-card span.price-cifrao {
  color: #fff;
  font-family: "Poppins", sans-serif;
}
main div.ajust-sections > section .overflow-container div.card-container div.front-card div.price-card span.price-value {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-left: 9px;
}
main div.ajust-sections > section .overflow-container div.card-container div.front-card div.tag-card {
  position: absolute;
  left: -6px;
  top: 15px;
  width: auto;
  padding: 5px 5px 5px 11px;
  border-radius: 9px 9px 9px 0px;
  background-color: #421600;
  color: #FFD495;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
main div.ajust-sections > section .overflow-container div.card-container div.front-card div.tag-card::after {
  content: "";
  left: 0;
  bottom: -6px;
  position: absolute;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #421600;
  display: inline-block;
}
main div.ajust-sections > section .overflow-container div.card-container div.cafe-colombiano-imgback {
  background-image: url(../../images/main/produtos/cafe-colombiano.jpg);
}
main div.ajust-sections > section .overflow-container div.card-container div.cafe-etiope-imgback {
  background-image: url(../../images/main/produtos/cafe-etiope.jpg);
}
main div.ajust-sections > section .overflow-container div.card-container div.cafe-indiano-imgback {
  background-image: url(../../images/main/produtos/cafe-indiano.jpg);
}
main div.ajust-sections > section .overflow-container div.card-container div.cafe-blue-mountain-imgback {
  background-image: url(../../images/main/produtos/cafe-blue-mountain.jpg);
}
main div.ajust-sections > section .overflow-container div.card-container div.cafe-geisha-imgback {
  background-image: url(../../images/main/produtos/cafe-geisha-do-panama.jpg);
}
main div.ajust-sections > section .overflow-container div.card-container div.cafe-bourbon-imgback {
  background-image: url(../../images/main/produtos/cafe-bournon-de-ilha-bourbon.jpg);
}
main div.ajust-sections > section .overflow-container div.card-container div.cafe-baunilha-imgback {
  background-image: url(../../images/main/produtos/cafe-de-baunilha.jpg);
}
main div.ajust-sections > section .overflow-container div.card-container div.cafe-caramelo-imgback {
  background-image: url(../../images/main/produtos/cafe-de-caramelo.jpg);
}
main div.ajust-sections > section .overflow-container div.card-container div.cafe-amendoa-imgback {
  background-image: url(../../images/main/produtos/cafe-de-amendoa.jpg);
}
main div.ajust-sections > section .overflow-container div.card-container div.back-card {
  width: 170px;
  height: 200px;
  padding: 18px;
  display: flex;
  align-items: center;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 0;
  background-color: #FFF3E1;
  transition: width ease-in-out 1s, left ease-in-out 1s;
}
main div.ajust-sections > section .overflow-container div.card-container div.back-card p {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #421600;
}
main div.ajust-sections > section .overflow-container div.card-container div.back-card button.buy-button-card {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #C2673A;
  border: 0;
  padding: 2px 45px;
  border-radius: 9px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  transition: opacity ease-in-out 1s;
}
main div.ajust-sections > section .overflow-container div.card-container div.back-card button.buy-button-card:hover {
  background-color: rgba(194, 103, 58, 0.75);
}
main div.ajust-sections > section .overflow-container div.card-container:hover {
  width: 480px;
}
main div.ajust-sections > section .overflow-container div.card-container:hover div.front-card {
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
main div.ajust-sections > section .overflow-container div.card-container:hover div.back-card {
  width: 310px;
  left: 170px;
}

/*# sourceMappingURL=produtos.css.map */
